* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body {
    /* height: 100vh; */
    background-color: #f2f4f8;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* TOP_HEADER */
.header {
    height: 60px;
    background-color: #2d313d;
}

.header span {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.nav {
    height: 40px;
    background-color: #646d81;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__left-side {
    padding: 20px 0;
}

.header__logo {
    width: 32px;
    height: 20px;
}

.header__right-side {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: auto 0;
}

.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.header__item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #727989;
}

/* .header__item-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.header__item .location {
    border-bottom: 1px dashed #727989;
}

.header__item-image {
    width: 25px;
    height: 25px;
}

.header__item-image_bigger {
    border-radius: 3px;
    width: 27px;
    height: 27px;
    margin-left: 10px;
}

/* BOTTOM_HEADER */
.nav__wrapper {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav .nav__list-desc {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.nav__list {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__list-item {
    height: 100%;
}

.nav__list-item:not(:first-child) {
    margin-left: 22px;
}

.nav__list-desc {
    height: 100%;
    line-height: 40px;
}

.nav__list-desc:hover {
    border-top: 5px solid #fff;
    line-height: 30px;
}


/* MAIN */
.main {
    flex: 1 1 auto;
    /* background-color: rgb(135, 152, 231); */
}

.main__wrapper {
    display: flex;
    /* height: calc(100vh - 190px); */
    max-width: 960px;
    margin: 0 auto;
    /* background-color: #f2f4f8; */
    background-color: #fff;
    box-shadow: 0 5px 10px #e0e2e6;
}

.main__nav {
    width: 170px;
    padding-top: 30px;
    /* background-color: brown; */
}

.main__submenu-title {
    font-family: 'Georgia', serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.main__submenu-link {
    height: 34px;
    padding: 10px 0;
    line-height: 16px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #99a1b3;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 5px solid #fff;
}

.main__submenu-link:hover {
    border-left: 5px solid #727989;
}

.main__submenu-link_big {
    height: 75px;
}

.main__submenu-subtitle {
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 100%;
    height: 34px;
}

.main__content {
    background-color: rgb(145, 130, 130);
}

/* FOOTER */
.footer {
    height: 90px;
    background-color: rgb(61, 51, 51);
    padding: 30px;
    text-align: center;
    color: #fff;
}